<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>

<body>

<main class="error-container">
  <h2>Error 404</h2>
  <h3>Get out of my swamp. You aren't supposed to be here. Go back and swim with the fishies!</h3>
</main>

</body>
