<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="/style.css">

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

</head>
<body>
<div id="introModal">
    <h1 class="modalText" style="animation-name: none;">Our Team</h1>
    <div class="modalText"  style="font-size: 20px;animation-name: none;">
        <h3>Erik Tornquist</h3>
        <a href="mailto:tornquie@oregonstate.edu">tornquie@oregonstate.edu</a>
        <h3>Maximilian Wild</h3>
        <a href="mailto:wildma@oregonstate.edu">wildma@oregonstate.edu</a>
        <h3>Oliver Flood</h3>
        <a href="mailto:floodo@oregonstate.edu">floodo@oregonstate.edu</a>
        <h3>Pavlo Havrylyuk</h3>
        <a href="mailto:havrylyp@oregonstate.edu">havrylyp@oregonstate.edu</a>
    </div>

</div>

</body>
</html>