<!DOCTYPE html>
<html>
    <head>
        <title>Fish Related Game</title>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

        <!-- fonts -->
        <link href="./fonts/stylesheet.css" rel="stylesheet" />

        <!-- game page script and css -->
        <link href="./style2.css" rel="stylesheet" />
        <script src="./index.js" charset="utf-8" defer></script>

        <!-- intro modal stuff -->
        <link rel="stylesheet" href="/modalStyle.css">
        <script type="text/javascript" src="/intro_modal.js" defer></script>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

    </head>

    

    <!-- top bar with title -->
    <header>
        <div class="header-image-container">
            <img src="images/zephyr.png" alt="Fish logo">
        </div>

        <h1 class="site-title" id="gradient-text"><a href="#">Fish related game</a></h1>
    </header>

    <body>

        {{#if firstTime}}

            {{!-- <p style="font-size: 100px; color: white;"> HIIIIII ITHIS IS  ATEST</p> --}}
            {{> introModal}}

        {{/if}}

        <!-- stuff that moves -->
        <div class="gameviewer">

            <div class="sidebar">

                <!-- needs to be in gameviewer -->
                <button id="cast_lure" class="lure_button"> Cast Lure </button>

                <button class="lure_button">
                <a href="editor"> Open Fish Editor </a>
                </button>

                <button class="lure_button">
                <a href="about"> About Page </a>
                </button>

                <button class="lure_button">
                <a href="lol_hi_Hess"> 404 Page </a>
                </button>

            </div>

            <!-- water where fishes reside -->
            <div id="water">
                <!-- lure -->
                <div id="object">   
                    <img class="bobber" src="images/bobber.png" alt="Fish logo">
                </div>
            </div>

            

        
        </div>

    </body>
</html>