#drawingCanvas{
    cursor: pointer;
    outline: 3px solid red;
}

body{

    background-color: aquamarine; 
    /* JUST TO TEST! */
}

#guide{
    display: grid;
    pointer-events: none;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#guide div{

    border: 1px solid rgba(0, 0, 0, 0.1);
}
