#object{
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background: #0000ff;
    left: 275px;
    top: 175px;
    color: yellow;
    z-index: 100;
}

#water{
    /*
     -- previously here -- 
    background-color: darkcyan;
    */

    /* ocean gradient background */
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    position: relative;
    height: 100%;
    width: 94%;
    float: right;

    /* important for forest background */
    margin-top: 150px;
}

.gameviewer
{
    opacity: 1;
    background: url(images/forestbackground.jpg) repeat;
    background-size: 300px;
    /*background-color: green;*/
    position: relative;
    height: 2000px;
    width: 500%;
}

.sidebar {
    background-color: red;
    width: 6%;
    height: 2000px;
    float: left;

    /* important for forest background */
    margin-top: 150px;
}

.fish-img{
    /*background-color: aqua;*/
    width: 10px;
    height: 10px;
    position: relative;
}

.hidden{
    display: none;
}


body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #92cade;

  /* disables scrolling */
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #f67811;
}

a:hover {
  text-decoration: underline;
}

header {
  background-color: #92cade;
  display: flex;
  align-items: center;
  position: relative;
}

header a {
  color: #444;
}

.site-title {
  font-family: "Roboto Slab", serif;
  font-size: 50px;
  font-weight: 100;
  margin: 0 0 0 10px;
  padding-top: 10px;
}

.header-image-container {
    width: 50px;
    border: solid;
}

.header-image-container img {
    max-height: 100%;
    max-width: 100%;
}
