html, body{

    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

main{

    padding: 20px;
}

a {
    color: #FDFCDC;
    text-decoration: none;
}

/*
/*
Modal stuff
/*
*/
.modal_upwards{

    will-change: transform;
    transition: transform 500ms;
    transition-delay: 600ms;

    transform: translateY(-100%);
}

#introModal{

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    min-height: 100%;
    min-width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(#01c5d0, #06b2bb);
}

#modalButton{

    width: 280px;
    height: 60px;

    border-radius: 60px;
    background-color: #056b89;
    color:#FDFCDC;
    font-family: 'Permanent Marker';
    font-size: 40px;
    border: none;

    transition-duration: 0.4s;

}


#modalButton:hover{

    transform: scale(1.1);
}

#modalButton:active{

    transform: scale(0.6);
}

.modalText{

    font-family: 'Permanent Marker';
    color: #FDFCDC;
    font-size: 90px;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 50px;

    animation-name: bobbing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    text-shadow: -2px 2px 1px #0081A7,
                0px 4px 1px #0081A7,
			    2px 2px 1px #0081A7,
                4px 0px 1px #0081A7,
				2px -2px 1px #0081A7,
                0px -4px 1px #0081A7,
				-2px -2px 1px #0081A7,
                -4px 0px 1px #0081A7;
}

@keyframes bobbing {
    0% { transform: scale(1); }
    50%  { transform: scale(1.06); }
    100%   { transform: scale(1); }   
}
