#object{
    position: relative;
    height: 50px;
    width: 50px;
/*    border-radius: 50px;
    background: #0000ff9c;
    color: yellow;*/
    
    left: 275px;
    top: 175px;
    z-index: 100;
}

#water{
    /* ocean gradient background */
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
   
    /* bubbles */
/*    background: url(images/bubbles.jpg) repeat;
    background-size: 100px;*/

    /* location */
    position: relative;
    height: 2000px;
    width: 4000px;
    float: left;

    /* important for forest background */
    margin-top: 150px;
}

.gameviewer
{
    opacity: 1;
    background: url(images/forestbackground.jpg) repeat;
    background-size: 300px;
    /*background-color: green;*/
    position: relative;
    height: 2000px;
    width: 5000px;
}

.sidebar {
    /*background-color: red;*/
    background: url(images/woodboard.PNG) repeat;
    background-size: 100px;

    border-color: #5c4639;
    border-style: solid;
    border-width: 6px;

    width: 300px;
    height: 2000px;
    float: left;

    /* important for forest background */
    margin-top: 150px;
}

.fish-img{
    /*background-color: aqua;*/
    width: 50px;
    height: 50px;
    position: relative;
    /*Unselectable*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.bobber {
    width: 40px;
    height: 40px;
}

.hidden{
    display: none;
}


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #92cade;

    /* disables scrolling */
    overflow: hidden;
}


a {
    text-decoration: none;
    color: white;
    -webkit-text-stroke-color: black;
}
/*a:visited { text-decoration: none; color:white; }
a:hover { text-decoration: none; color:white; }
a:focus { text-decoration: none; color:white; }
a:hover, a:active { text-decoration: none; color:white }*/


header {
    position: relative;
    background-color: #92cade;
    display: flex;
    align-items: center;
    position: relative;
}

header a {
/*  color: white;*/
}

@font-face {
    font-family: 'broken_consolebold';
    src: url('fonts/broken_console_bold-webfont.woff2') format('woff2'),
         url('fonts/broken_console_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'broken_consolebold_shadow';
    src: url('broken_console_bold_shadow-webfont.woff2') format('woff2'),
         url('broken_console_bold_shadow-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'broken_consoleregular';
    src: url('broken_console_regular-webfont.woff2') format('woff2'),
         url('broken_console_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.site-title {
    font-family: "broken_consolebold", "broken_consolebold_shadow", sans-serif;

    font-size: 50px;
    font-weight: 100;
    margin: 0 0 0 10px;
    padding-top: 10px;
}



.header-image-container {
    width: 80px;
    height: 80px;
    border: none;

    margin-left: 10px;
}

.header-image-container img {
    max-height: 100%;
    max-width: 100%;
}




/*
MODAL RELATED THINGS
*/

/* The Modal (background) */
.fishEditor {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {

    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.closeEditor {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeEditor:hover,
.closeEditor:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}






/*
SIDEBAR RELATED THINGS
*/

.button {
    font-family: "broken_consoleregular", sans-serif;


    font-size: 20px;
    color: white;
    padding: 10px;

/*    background-color: #000;*/
    background: rgba(0,0,0,.6);

    margin: 6px;

    border: 0px solid #ababab;
    border-radius: 0px;
    font-weight: lighter;
    cursor: pointer;
}

.button:hover {
    background-color: #f9d2b2;
    border-color: #333;
    color: #333;
}

/* make text colorful */
#gradient-text {
/*    background-image: linear-gradient(0deg, rgba(0,129,167,1) 0%, rgba(0,175,185,1) 26%, rgba(253,252,220,1) 50%, rgba(254,217,183,1) 67%, rgba(240,113,103,1) 100%);*/
    /* Fallback: Set a background color. */
    background-color: white;

    /* Create the gradient. */
    background-image: linear-gradient(180deg, rgba(81,202,237,1) 15%, rgba(241,254,254,1) 65%);
/*    linear-gradient(180deg, rgba(0,129,167,1) 28%, rgba(238,218,140,1) 65%)*/

    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: black;
}


/*
FISH SCANNER THINGS
*/
#container{
    position: relative;
    width: 100%;
    height: 500px;
}

#main_image{
    margin-top: 10px;
    width: 100%;
    height: 500px;
    background: #676767;
}
#overlay_image{
    position: absolute;
    top: 62px;
    right: 25%;
    width: 160px;
    height: 160px;
    background: none;
    z-index: 100;
}

#name {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 100%;
    height: 20px;
}
#bday {
    position: absolute;
    top: 2px;
    right: 0px;
}
#movie {
    width: 100%;
    background: rgba(0,0,0,.6);
    position: absolute;
    top: 270px;
    left: 0px;
    height: 30px;
}
#desc {
    background: rgba(0,0,0,.6);
    position: absolute;
    top: 300px;
    left: 0px;
    height: 120px;
}

.fish_radar {
    opacity: 1;
    width: 100%;
/*    border: 1px solid #ababab;*/

}

.radar_text {
    font-family: "broken_consoleregular", sans-serif;

    font-size: 15px;
    color: white;
    padding: 10px;


    background: rgba(0,0,0,.6);

    padding: 6px;

    border: 0px solid #ababab;
    border-radius: 0px;
    font-weight: lighter;
    cursor: url(images/glass.png), auto;
}

.radar_text_small  {
    font-family: "broken_consoleregular", sans-serif;

    font-size: 12px;
    color: white;
    padding: 10px;


    padding: 6px;

    border: 0px solid #ababab;
    border-radius: 0px;
    font-weight: lighter;
    cursor: url(images/glass.png), auto;
}