html, body{

    padding: 0;
    margin: 0;
}

body{

    background-image: linear-gradient(#92cade, #9cd6ec);
    height: 100vh;

    display: flow-root
    /* overflow: auto; */
}

#drawingPanel{

    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 600px;
    padding: 20px;

    margin: auto;
    margin-top: 20px;

    background-color: #F07167;
    border-radius: 4px;
    justify-content: space-around;
}

#allCreationSettings{

    display: flex;
    flex-direction: column;

    justify-content: space-between;

    height: 100%;
}

#drawSettings{

    height: 200px;

    display: flex;
    flex-direction: column;

    justify-content: space-around;

    margin-bottom: 50px;
}

#fishDetailSettings{

    height: 300px;

    display: flex;
    flex-direction: column;

    justify-content: space-evenly;

    flex-grow: 1;
}

#fishBackground{

    width: 580px;
    height: 580px;
    position: absolute;

    pointer-events: none;

    background-image: url('/images/fishBackground.png');
    background-size: 580px 580px;
    opacity: 0.5;
    image-rendering: pixelated;
}

#drawingCanvas{
    cursor: pointer;

    /* temporary */
    outline: 3px solid red;
}

#guide{
    display: none;
    pointer-events: none;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#guide div{

    border: 1px solid rgba(0, 0, 0, 0.1);
}

#strokeLabel{

    display: inline-block;
    width: 70px;
}

p{

    margin: 0;
}