:root {
    --background-red: #F07167;
    --background-red-darker: #db665e;

    --dark-red: #9f231a;
    --offwhite: #faf4f4;
    --special-yellow: #eed63d;
    --special-yellow-dark: #815d16;
}

html, body{

    padding: 0;
    margin: 0;
}

body{

    /* background-image: linear-gradient(#92cade, #9cd6ec); */
    background-image: url('/images/fish-repeating.png');
    height: 100vh;

    background-size: 300px 330px;

    display: flow-root
    /* overflow: auto; */
}

#drawingPanel{

    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 640px;
    /* padding: 20px; */

    margin: auto;
    margin-top: 20px;

    background-color: var(--background-red);
    border-radius: 2px;
    justify-content: space-between;

    outline: 3px solid var(--dark-red);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

/* #drawingPanel > :not(.sideDiv){

    background-color: red;
    margin-top: 20px;
} */

#sideDiv{

    height: 100%;
    width: 40px;

    background-color: var(--background-red-darker);
}

#allCreationSettings{

    display: flex;
    flex-direction: column;

    justify-content: space-between;

    height: 100%;

    margin-top: 20px;
}

#drawSettings{

    height: 200px;

    display: flex;
    flex-direction: column;

    justify-content: space-around;

    margin-bottom: 50px;
}

#fishDetailSettings{

    height: 300px;

    margin-bottom: 30px;

    display: flex;
    flex-direction: column;

    justify-content: space-evenly;

    flex: 1;
}

#fishBackground{

    width: 580px;
    height: 580px;
    position: absolute;

    pointer-events: none;

    background-image: url('/images/fishBackground.png');
    background-size: 580px 580px;
    opacity: 0.1;
    image-rendering: pixelated;
}

#drawingCanvas{
    cursor: pointer;

    /* temporary */
    outline: 3px solid var(--dark-red);

    z-index: 20;

    margin-top: 20px;
}

#exportDiv{

    margin-top: 20px;
    margin-bottom: 40px;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

#guide{
    display: none;
    pointer-events: none;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#guide div{

    border: 1px solid rgba(0, 0, 0, 0.1);
}

#strokeLabel{

    display: inline-block;
    width: 70px;
}

label{

    margin-right: 5px;
}

textarea{

    margin-top: 10px;

    display: block;
    width: 100%;

    border: 3px solid var(--dark-red);
    border-radius: 4px;
    background-color: var(--background-red);

    font-size: 14px;
    color: var(--offwhite);
}

textarea::placeholder{

    font-size: 14px;
    color: var(--offwhite);
}

input::placeholder{

    color: var(--offwhite);
}

input{

    border: 3px solid var(--dark-red);
    border-radius: 4px;
    background-color: var(--background-red);

    color: var(--offwhite);
}

label, p{

    font-weight: 700;
    color: var(--offwhite)
}

label, button, p, input, textarea, textarea::placeholder, input::placeholder, a{
    
    font-family: Lato;
}

button{

    font-size: 16px;
    padding: 6px 10px;
    font-weight: 700;
    color: var(--offwhite);

    border-radius: 3px;

    background-color: var(--dark-red);
    border: none;
}

button:active{

    outline: 2px solid var(--dark-red);
    background-color: var(--offwhite);

    color: var(--dark-red);

    box-shadow: 0 0 8px 0 var(--offwhite), 0 0 20px 0 var(--offwhite);
}

p{
    margin: 0;
}

#backButton, #backButton:visited{

    font-size: 20px;
    padding: 8px 12px;
    font-weight: 700;
    color: var(--special-yellow-dark);

    border-radius: 4px;

    background-color: var(--special-yellow);
    border: 3px solid var(--special-yellow-dark);

    text-decoration: none;
}

#backButton:active{

    outline: 2px solid var(--special-yellow);
    background-color: var(--offwhite);

    color: var(--special-yellow);

    box-shadow: 0 0 8px 0 var(--offwhite), 0 0 20px 0 var(--offwhite);

    text-decoration: none;
}

/* range{

    background-image: linear-gradient(to right, #82CFD0 0%, #82CFD0 50%, #fff 50%, #fff 100%);

} */
